.containerFourni {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(181 159 137);
    padding-bottom: 15px;
}

.containerFourni h1 {
    font-size: 45px;
    padding-bottom: 5px;
    text-decoration: underline 3px;
}

.boxFourni {
    width: 40vh;
    height: 20vh;
    padding: 13px;
}

.fourni1 {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.fourni1 img{
    height: 100%;
    width: 27vh;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 2px 12px 4px rgb(0 0 0 / 49%);
}
.boxList div h2 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    text-align: center;
}

.listFourni {
    padding: 7px 20px;
    justify-content: unset;
    width: 76%;

    overflow-x: hidden;
    position: relative;
}

.scroll-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

@media screen and (max-width: 768px) {
    .listFourni {
        overflow-x: scroll;
        justify-content: unset;
        width: 100%;
    }

    .fourni1 img {
        width: 23vh;
        height: 23vh;
    }

    .containerFourni h1 {
        font-size: 35px;
    }

    .boxFourni {
        height: 27vh;
    }
}