
  .container {
    height: 800px;
    width: 558px;
    margin: 0 auto;
  }
  
  .slider {
    position: relative;
    height: 100%;
    padding-bottom: 100%;
    box-shadow: rgb(0 0 0 / 72%) 5px 6px 12px 1px;
  }
  
  .slider__after {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    width:100%;
    height:100%;
    background-size:cover;
    pointer-events: none;
    user-select: none;
  }

  .slider__after.activ1 {
    background-image:url('../../recources/Realisations/Siege1.4.webp');
    background-position: center;
  }
  .slider__after.activ2 {
    background-image:url('../../recources/Realisations/Siege2.1.webp');
  }
  .slider__after.activ3 {
    background-image:url('../../recources/Realisations/Siege3.1.webp');
  }
  .slider__after.activ4 {
    background-image:url('../../recources/Realisations/Siege4.1.webp');
  }

  .slider__after.activ5 {
    background-image:url('../../recources/Realisations/Siege6.webp');
  }

  .slider__after.activ6 {
    background-image:url('../../recources/Realisations/Siege7.webp');
  }

  .slider__after.activ7 {
    background-image:url('../../recources/Realisations/Siege11.1.jpg');
  }
  
  .slider__before {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:100%;
    height:100%;
    background-size:cover;
    pointer-events: none;
    overflow:hidden;
    user-select: none;
  }

  
  .slider__before.activ1 {
    background-image:url('../../recources/Realisations/Siege1.3.webp');

  }
  .slider__before.activ2 {
    background-image:url('../../recources/Realisations/Siege2.webp');
  }
  .slider__before.activ3 {
    background-image:url('../../recources/Realisations/Siege3.webp');
  }
  .slider__before.activ4 {
    background-image:url('../../recources/Realisations/Siege4.webp');
  }

  .slider__before.activ5 {
    background-image:url('../../recources/Realisations/Siege6.1.webp');
  }

  .slider__before.activ6 {
    background-image:url('../../recources/Realisations/Siege7.1.webp');
  }

  .slider__before.activ7 {
    background-image:url('../../recources/Realisations/Siege11.jpg');
  }
  
  .slider__before:before {
    content:'Avant';
    position:absolute;
    left:8px;
    top:8px;
  }
  
  .slider__after:before {
    content:'Après';
    position:absolute;
    right:8px;
    top:8px;
  }
  
  .slider__separator {
    position:absolute;
    left:50%;
    width:2px;
    top:0px;
    bottom:0px;
    background:rgba(255,255,255,0.7);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
    cursor:ew-resize;
    z-index:3;
    transform:translateX(-50%);
  }
  
  .slider__range {
    position:absolute;
    width:100%;
    bottom:0px;
    z-index: 3;
    appearance: none;
    background:rgba(255,255,255,0.3);
    outline:none;
    margin:0px;
  }
  
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider__range::-moz-slider-thumb {
    -moz-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider--tokyo .slider__separator:before {
    content:'';
    width:32px;
    height:32px;
    border-radius:50%;
    border:solid 2px white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .slider--tokyo .slider__range {
    display:none;
  }
  
  .slider--tokyo .slider__before:before, 
  .slider--tokyo .slider__after:before {
    top:50%;
    transform:translateY(-50%);
    background:rgba(255,0,0,0.5);
    padding:8px 16px;
    border-radius:8px;
    margin-left:8px;
    margin-right:8px;

    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin:0px;
  }